{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if transaccion.tipo == 'compra' %}
        Compra Exitosa
    {% elif transaccion.tipo == 'venta' %}
        Venta Exitosa
    {% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'claro/formularios.css' %}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{% static 'oscuro/formularios.css' %}" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{% static 'claro/perfil.css' %}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{% static 'oscuro/perfil.css' %}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block content %}
<div class="contenido extendido">
    <div class="form-cabecera">
        {% if transaccion.tipo == 'compra' %}
            {% if transaccion.estado == 'Pendiente' %}
                <div class="logo">Transacción Iniciada</div>
                {% if transaccion.medio_pago == 'Efectivo' %}
                <p class="subtitulo">
                    Se ha generado un código para la transacción. Acercate a un Tauser de Global Exchange para completar la compra.
                </p>
                {% else %}
                <p class="subtitulo">
                    Se ha generado un código para la transacción. Usalo para realizar el pago de la transacción en línea.
                </p>
                {% endif %}
                <p class="subtitulo">
                    Puedes consultar el historial del cliente para ver los detalles de la transacción.
                </p>
                <div style="margin-top: 2rem; font-weight: bold; margin-bottom: 1rem;">El código vence en 5 minutos. Si expira deberás reiniciar el proceso de compra.</div>
                <div class="info-campo">{{ transaccion.token }}</div>
            {% else %}
                <div class="logo">Transacción Confirmada</div>
                <p class="subtitulo">
                    Se ha recibido tu pago. También se ha generado un código para retirar el dinero. Acercate a un Tauser de Global Exchange para completar la compra.
                </p>
                <p class="subtitulo">
                    Puedes consultar el historial del cliente para ver los detalles de la transacción.
                </p>
                <div class="info-campo" style="margin-top: 2rem;">{{ transaccion.token }}</div>
            {% endif %}
        {% else %}
            {% if transaccion.estado == 'Pendiente' %}
                <div class="logo">Transacción Iniciada</div>
                <p class="subtitulo">
                    Se ha generado un código para la transacción. Acercate a un Tauser de Global Exchange para completar la venta.
                </p>
                <p class="subtitulo">
                    Puedes consultar el historial del cliente para ver los detalles de la transacción.
                </p>
                <div style="margin-top: 2rem; font-weight: bold; margin-bottom: 1rem;">El código vence en 5 minutos. Si expira deberás reiniciar el proceso de compra.</div>
                <div class="info-campo">{{ transaccion.token }}</div>
            {% elif transaccion.estado == 'Confirmada' %}
                <div class="logo">Transacción Confirmada</div>
                <p class="subtitulo">
                    Se ha recibido tu pago. También se ha generado un código para retirar el dinero. Acercate a un Tauser de Global Exchange para completar la venta.
                </p>
                <p class="subtitulo">
                    Puedes consultar el historial del cliente para ver los detalles de la transacción.
                </p>
                <div class="info-campo" style="margin-top: 2rem;">{{ transaccion.token }}</div>
            {% elif transaccion.estado == 'Completa' %}
                <div class="logo">¡Transacción Completa!</div>
                <p class="subtitulo">
                    La compra de monedas se ha realizado exitosamente, tu dinero se ha acreditado automáticamente. ¡Gracias por confiar en Global Exchange!.
                </p>
                <p class="subtitulo">
                    Puedes consultar el historial del cliente para ver los detalles de la transacción.
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="zona-botones">
        <a href="{% url 'inicio' %}" class="btn-primario">
            Volver a inicio
        </a>
    </div>
</div>
{% endblock %}