{% extends 'base.html' %}
{% load static %}

{% block title %}
    Información de Pago
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'claro/formularios.css' %}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{% static 'oscuro/formularios.css' %}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'pasarela_pago.js' %}"></script>
    <script>
    const datosTransaccion = {
        monto: '{{ transaccion.monto }}',
        moneda: '{{ transaccion.moneda.simbolo }}',
        tipo_operacion: '{{ transaccion.tipo }}',
        cliente_id: '{{ transaccion.cliente.id }}',
        token: '{{ transaccion.token }}',
        medio_pago: '{{ transaccion.medio_pago }}',
        monto_minimo: '{{ transaccion.precio_final }}'
    };
    </script>
{% endblock %}

{% block content %}
<div class="contenido extendido">
    <div class="form-cabecera">
        <div class="logo">Transacción Iniciada</div>
        <p class="subtitulo">
            Usa la información de pago a continuación para confirmar tu transacción.
        </p>
        {% if transaccion.medio_pago == 'Transferencia Bancaria' %}
        <div style="text-align:left">
            <h3>Datos de la cuenta para transferencia:</h3>
            <p><strong>Banco:</strong> Sudameris</p>
            <p><strong>Tipo de cuenta:</strong> Cuenta Corriente</p>
            <p><strong>Número de cuenta:</strong> 123456</p>
            <p><strong>Titular:</strong> Global Exchange</p>
            <p><strong>RUC:</strong> 1234567</p>
        </div>
        {% else %}
        <div style="text-align:left">
            <h3>Datos de la billetera:</h3>
            <p><strong>Tipo:</strong> {{ transaccion.medio_pago }}</p>
            <p><strong>Número:</strong> {% if transaccion.medio_pago == 'Tigo Money' %}0981000001{% elif transaccion.medio_pago == 'Billetera Personal' %}0982000002{% else %}0983000003{% endif %}</p>
            <p><strong>Titular:</strong> Global Exchange</p>
            <p><strong>Numero de Documento:</strong> {% if transaccion.medio_pago == 'Tigo Money' %}1010101{% elif transaccion.medio_pago == 'Billetera Personal' %}2020202{% elif transaccion.medio_pago == 'Zimple' %}3030303{% else %}N/D{% endif %}</p>
        </div>
        {% endif %}
    </div>
    <div class="zona-botones">
        <a href="#" class="btn-enviar" onclick="procesarPago(datosTransaccion)">Continuar con el Pago</a>
    </div>
</div>
{% endblock %}