{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Detalle de Transacción - {{ cliente.nombre }} - Global Exchange{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'claro/perfil.css' %}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{% static 'oscuro/perfil.css' %}" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{% static 'claro/gestion.css' %}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{% static 'oscuro/gestion.css' %}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block content %}
<div class="contenido">
    <div class="gestion-cabecera">
        <h2>Detalle de Transacción</h2>
    </div>

    <div class="info-transaccion">
        <div class="detalles-transaccion">
            <div class="detalle-item">
                <div class="detalle-titulo">Fecha y hora:</div>
                <div class="detalle-valor">{{ transaccion.fecha_hora|date:"d/m/Y H:i:s" }}</div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Usuario que operó:</div>
                <div class="detalle-valor">{{ transaccion.usuario.nombre_completo }}</div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Nombre de cliente:</div>
                <div class="detalle-valor">{{ transaccion.cliente.nombre }}</div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Segmento del cliente:</div>
                <div class="detalle-valor">{{ transaccion.cliente.get_segmento_display }}</div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Tipo de transacción:</div>
                <div class="detalle-valor">
                    {% if transaccion.tipo == 'venta' %}
                        Venta de {{ transaccion.moneda.nombre }}
                    {% else %}
                        Compra de {{ transaccion.moneda.nombre }}
                    {% endif %}
                </div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Estado de transacción:</div>
                <div class="detalle-valor">
                    <div class="estado-transaccion estado-{{ transaccion.estado|lower }}">
                        {{ transaccion.estado }}
                    </div>
                </div>
            </div>
            {% if transaccion.estado == 'Cancelada' %}
            <div class="detalle-item">
                <div class="detalle-titulo">Razón de cancelación:</div>
                <div class="detalle-valor">{{ transaccion.razon }}</div>
            </div>
            {% endif %}
            <div class="detalle-item">
                <div class="detalle-titulo">Medio de pago:</div>
                <div class="detalle-valor">{{ transaccion.medio_pago }}</div>
            </div>
            <div class="detalle-item">
                <div class="detalle-titulo">Medio de cobro:</div>
                <div class="detalle-valor">{{ transaccion.medio_cobro }}</div>
            </div>
            
            {% if transaccion.tipo == 'compra' %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Monto ingresado para compra:</div>
                    <div class="detalle-valor">{{ transaccion.monto_original|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Redondeo por medio de cobro Efectivo:</div>
                    <div class="detalle-valor">{{ transaccion.redondeo_efectivo_monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Monto a comprar:</div>
                    <div class="detalle-valor">{{ transaccion.monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Cotización para compra:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.cotizacion|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Precio base para compra:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.precio_base|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Beneficio por segmento:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.beneficio_segmento|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Recargo por medio de pago ({{ transaccion.porc_recargo_pago }}):</div>
                    <div class="detalle-valor">Gs. {{ transaccion.recargo_pago|intcomma }}</div>
                </div>
                {% if transaccion.medio_pago == 'Efectivo' %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Redondeo por medio de pago Efectivo:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.redondeo_efectivo_precio_final|intcomma }}</div>
                </div>
                {% endif %}
                <div class="detalle-item">
                    {% if transaccion.estado == 'Completa' or transaccion.estado == 'Confirmada' %}
                    <div class="detalle-titulo" style="font-size:large">Monto pagado:</div>
                    {% else %}
                    <div class="detalle-titulo" style="font-size:large">Monto a pagar:</div>
                    {% endif %}
                    <div class="detalle-valor" style="font-size:large">Gs. {{ transaccion.precio_final|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    {% if transaccion.estado == 'Completa' %}
                    <div class="detalle-titulo" style="font-size:large">Monto recibido:</div>
                    {% else %}
                    <div class="detalle-titulo" style="font-size:large">Monto a recibir:</div>
                    {% endif %}
                    <div class="detalle-valor" style="font-size:large">{{ transaccion.monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
            {% else %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Monto ingresado para venta:</div>
                    <div class="detalle-valor">{{ transaccion.monto_original|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                {% if transaccion.medio_pago == 'Efectivo' %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Redondeo por medio de pago Efectivo:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.redondeo_efectivo_monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo" style="font-size:large">Monto a vender:</div>
                    <div class="detalle-valor" style="font-size:large">{{ transaccion.monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                {% endif %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Cotización para venta:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.cotizacion|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Precio base para venta:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.precio_base|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Beneficio por segmento:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.beneficio_segmento|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Recargo por medio de pago ({{ transaccion.porc_recargo_pago }}):</div>
                    <div class="detalle-valor">Gs. {{ transaccion.recargo_pago|intcomma }}</div>
                </div>
                <div class="detalle-item">
                    <div class="detalle-titulo">Recargo por medio de cobro ({{ transaccion.porc_recargo_cobro }}):</div>
                    <div class="detalle-valor">Gs. {{ transaccion.recargo_cobro|intcomma }}</div>
                </div>
                {% if transaccion.medio_cobro == 'Efectivo' %}
                <div class="detalle-item">
                    <div class="detalle-titulo">Redondeo por medio de cobro Efectivo:</div>
                    <div class="detalle-valor">Gs. {{ transaccion.redondeo_efectivo_precio_final|intcomma }}</div>
                </div>
                {% endif %}
                <div class="detalle-item">
                    {% if transaccion.estado == 'Completa' or transaccion.estado == 'Confirmada' %}
                    <div class="detalle-titulo" style="font-size:large">Monto pagado:</div>
                    {% else %}
                    <div class="detalle-titulo" style="font-size:large">Monto a pagar:</div>
                    {% endif %}
                    <div class="detalle-valor" style="font-size:large">{{ transaccion.monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
                </div>
                <div class="detalle-item">
                    {% if transaccion.estado == 'Completa' %}
                    <div class="detalle-titulo" style="font-size:large">Monto recibido:</div>
                    {% else %}
                    <div class="detalle-titulo" style="font-size:large">Monto a recibir:</div>
                    {% endif %}
                    <div class="detalle-valor" style="font-size:large">Gs. {{ transaccion.precio_final|intcomma }}</div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="zona-acciones">
        <div class="acciones-contenido">
            <a href="{% url 'clientes:cliente_historial' cliente.id %}" class="btn-secundario">
                Volver al Historial
            </a>
        </div>
    </div> 
</div>
{% endblock %}