<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tauser - Global Exchange</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'claro/global.css' %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'oscuro/global.css' %}" media="(prefers-color-scheme: dark)">
</head>
<body>
    <main class="cuerpo">
        <div class="contenido">
            <div class="logo">💰 Tauser - Global Exchange</div>
            <p class="subtitulo">Código ingresado exitosamente. La siguiente parte está en construcción.</p>
        </div>
    </main>
</body>
</html>