<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tauser - Global Exchange</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'claro/global.css' %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'oscuro/global.css' %}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{% static 'claro/formularios.css' %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'oscuro/formularios.css' %}" media="(prefers-color-scheme: dark)">
</head>
<body>
    {% if messages %}
    <div class="zona-alertas">
        {% for message in messages %}
            <div class="alerta-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <main class="cuerpo">
        <div class="contenido">
            <div class="form-cabecera">
                <div class="logo">Tauser - Global Exchange</div>
                <p class="subtitulo">Ingresa el token de transacción</p>
            </div>
            
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-campo">
                    {{ form.codigo }}
                    {% if form.codigo.errors %}
                        <div class="form-errores">
                            {% for error in form.codigo.errors %}
                                <div class="mensaje-error">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="zona-botones">
                    <button type="submit" class="btn-enviar">
                        Enviar código
                    </button>
                    <a href="{% url 'inicio' %}" class="btn-atras">
                        Volver al Inicio
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>