{% extends 'llave_billetes.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'claro/formularios.css' %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'oscuro/formularios.css' %}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block content %}
<div class="contenido">
    <div class="form-cabecera">
        <div class="logo">Tauser - Global Exchange</div>
        <p class="subtitulo">Ingresa el token de transacción</p>
    </div>
    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-campo">
            {{ form.codigo }}
            {% if form.codigo.errors %}
                <div class="form-errores">
                    {% for error in form.codigo.errors %}
                        <div class="mensaje-error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="zona-botones">
            <button type="submit" name="accion" value="enviar" class="btn-enviar">
                Enviar código
            </button>
            <a href="{% url 'inicio' %}" class="btn-atras">
                Volver al Inicio
            </a>
        </div>
    </form>
    {% if cambios %}
    <div class="popup-overlay" style="display: flex">
        <div class="popup-contenido" style="max-width: 700px;">
            <div class="popup-cabecera">
                <h3>¡La cotización ha cambiado!</h3>
            </div>
            <div class="popup-cuerpo">
                {% if transaccion.tipo == 'compra' %}
                    <p>El precio de venta a cambiado de Gs. {{ cambios.valores_anteriores.precio_venta|intcomma }} a Gs. {{ cambios.valores_actuales.precio_venta|intcomma }}</p>
                {% else %}
                    <p>El precio de compra a cambiado de Gs. {{ cambios.valores_anteriores.precio_compra|intcomma }} a Gs. {{ cambios.valores_actuales.precio_compra|intcomma }}</p>
                {% endif %}
                <form method="post">
                {% csrf_token %}
                    <div class="zona-botones">
                        <button type="submit" name="accion" value="aceptar" class="btn-enviar">
                            Aceptar Nuevo Precio
                        </button>
                        <button type="submit" name="accion" value="cancelar" class="btn-atras">
                            Cancelar Operación
                        </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}