{% extends 'llave_billetes.html' %}
{% load static %}
{% load humanize %}

{% block title %}Ingresar Cheque{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'claro/formularios.css' %}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'oscuro/formularios.css' %}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block content %}
<div class="contenido extendido">
    <div class="form-cabecera" style="margin-bottom: 1rem;">
        <h2>Ingresar Cheque</h2>
        <div style="margin-top: 2rem;"></div>
        <div class="info-usuario" style="width: auto">
            <div class="info-titulo">Tipo de Operación:</div>
            <div class="info-valor">Compra de {{ transaccion.moneda.nombre }}</div>
            <div style="margin-top: 0.5rem;"></div>
            <div class="info-titulo">Monto a Ingresar:</div>
            <div class="info-valor">Gs. {{ transaccion.precio_final|intcomma }}</div>
            <div style="margin-top: 0.5rem;"></div>
            <div class="info-titulo">Monto a Comprar:</div>
            <div class="info-valor">{{ transaccion.monto|floatformat:transaccion.moneda.decimales }} {{ transaccion.moneda.simbolo }}</div>
        </div>
    </div>
    <p class="subtitulo" style="text-align: center;">Ingresa el cheque:</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-campo">
            {{ form.archivo }}
            {% if form.archivo.errors %}
                <div class="form-errores">
                    {% for error in form.archivo.errors %}
                        <div class="mensaje-error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="zona-botones">
            <button type="submit" class="btn-enviar">Ingresar</button>
            <a href="{% url 'inicio' %}" class="btn-atras">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}