[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=aylen
Group=aylen
WorkingDirectory=/home/aylen/Documentos/IS2/proyectoIS/proyecto
ExecStart=/home/aylen/Documentos/IS2/proyectoIS/pvenv/bin/gunicorn --workers 3 --bind unix:/home/aylen/Documentos/IS2/proyectoIS/proyecto/proyecto.sock proyecto.wsgi:application

[Install]
WantedBy=multi-user.target
